# Build artifacts
bin/
obj/
*.user

# .NET publish output
publish/

# Rider
.idea/

# VS
.vs/
*.suo
*.user

# NuGet
*.nupkg
*.snupkg
packages/

# User secrets
*.Development.json

# OS
.DS_Store
Thumbs.db
